<div class="banner_bottom">
  <div class="wthree_banner_bottom_left_grid_sub1">
    <div class="col-md-4 wthree_banner_bottom_left">
      <div class="wthree_banner_bottom_left_grid">
        <img src="/assests/images/4.jpg" alt=" " class="img-responsive" />
        <div class="wthree_banner_bottom_left_grid_pos">
          <!-- <h4>Rau củ tươi <span>25%</span></h4> -->
        </div>
      </div>
    </div>
    <div class="col-md-4 wthree_banner_bottom_left">
      <div class="wthree_banner_bottom_left_grid">
        <img src="/assests/images/5.jpg" alt=" " class="img-responsive" />
        <div class="wthree_banner_btm_pos">
          <!-- <h3>introducing <span>best store</span> for <i>groceries</i></h3> -->
        </div>
      </div>
    </div>
    <div class="col-md-4 wthree_banner_bottom_left">
      <div class="wthree_banner_bottom_left_grid">
        <img src="/assests/images/6.jpg" alt=" " class="img-responsive" />
        <div class="wthree_banner_btm_pos1">
          <!-- <h3>Save <span>Upto</span> $10</h3> -->
        </div>
      </div>
    </div>
  </div>
  <div class="clearfix"> </div>
</div>
<!-- top-brands -->
<div class="top-brands">
  <div class="container">

    <div class="w3ls_w3l_banner_nav_right_grid1 w3ls_w3l_banner_nav_right_grid1_veg">
      <div ng-repeat='data in data' class="">
        <div ng-class="{{$index+1}} % 2 == 0 ? 'col-md-3 w3ls_w3l_banner_left w3ls_w3l_banner_left_asdfdfd agile_top_brands_grids': 'col-md-3 w3ls_w3l_banner_left agile_top_brands_grids'">
          <div class="hover14 column">
            <div class="agile_top_brand_left_grid w3l_agile_top_brand_left_grid">
              <div class="tag"><img src="{{data.tag}}" alt=" " class="img-responsive"></div>
              <div class="agile_top_brand_left_grid1">
                <figure>
                  <div class="snipcart-item block">
                    <div class="snipcart-thumb">
                      <a ui-sref=""><img src="{{data.img}}" alt=" " class="img-responsive" /></a>
                      <p>{{data.name}}</p>
                      <h4>{{data.calo}} Calo</h4>
                    </div>
                    <div class="snipcart-details">
                      <input type="button" value="ADD TO MENU" ng-click="addShop(data._id)" class="button" />
                    </div>
                  </div>
                </figure>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- //top-brands -->
  <!-- fresh-vegetables -->
  <div class="fresh-vegetables">
    <div class="container">
      <h3>See More</h3>
      <div class="w3l_fresh_vegetables_grids">
        <div class="col-md-3 w3l_fresh_vegetables_grid w3l_fresh_vegetables_grid_left">
          <div class="w3l_fresh_vegetables_grid2">
            <ul>
              <li><i class="fa fa-check" aria-hidden="true"></i><a href="#">ALL</a></li>
              <li><i class="fa fa-check" aria-hidden="true"></i><a href="#">VEGETABLES</a></li>
              <li><i class="fa fa-check" aria-hidden="true"></i><a href="#">MEAT</a></li>
              <li><i class="fa fa-check" aria-hidden="true"></i><a href="#">SEAFOOD</a></li>
              <li><i class="fa fa-check" aria-hidden="true"></i><a href="#">DRINKS</a></li>
            </ul>
          </div>
        </div>
        <div class="col-md-9 w3l_fresh_vegetables_grid_right">
          <div class="col-md-4 w3l_fresh_vegetables_grid">
            <div class="w3l_fresh_vegetables_grid1">
              <img src="/assests/images/8.jpg" alt=" " class="img-responsive" />
            </div>
          </div>
          <div class="col-md-4 w3l_fresh_vegetables_grid">
            <div class="w3l_fresh_vegetables_grid1">
              <div class="w3l_fresh_vegetables_grid1_rel">
                <img src="/assests/images/7.jpg" alt=" " class="img-responsive" />
                <div class="w3l_fresh_vegetables_grid1_rel_pos">
                  <div class="more m1">
                    <a href="products.html" class="button--saqui button--round-l button--text-thick" data-text="Shop now">
                      <!-- Shop now -->
                    </a>
                  </div>
                </div>
              </div>
            </div>
            <div class="w3l_fresh_vegetables_grid1_bottom">
              <img src="/assests/images/10.jpg" alt=" " class="img-responsive" />
              <div class="w3l_fresh_vegetables_grid1_bottom_pos">
                <h5><!-- Special Offers --></h5>
              </div>
            </div>
          </div>
          <div class="col-md-4 w3l_fresh_vegetables_grid">
            <div class="w3l_fresh_vegetables_grid1">
              <img src="/assests/images/9.jpg" alt=" " class="img-responsive" />
            </div>
            <div class="w3l_fresh_vegetables_grid1_bottom">
              <img src="/assests/images/11.jpg" alt=" " class="img-responsive" />
            </div>
          </div>
          <div class="clearfix"> </div>
          <div class="agileinfo_move_text">
            <div class="agileinfo_marquee">
              <!-- <h4>get <span class="blink_me">25% off</span> on first order and also get gift voucher</h4> -->
            </div>
            <!-- <div class="agileinfo_breaking_news">
                        <span> </span>
                    </div> -->
            <div class="clearfix"></div>
          </div>
        </div>
        <div class="clearfix"> </div>
      </div>
    </div>
  </div>
